*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --grey: #f2f2f2;
  --medium-grey: #dbdbdb;
  --white: #fff;
  --black: #222;

  --fw-regular: 400;
  --fw-bold: 700;
  --fs-body: 1rem;
  --fs-h1: 1.4rem;
  --fs-h2: 1.4rem;
  --fs-h3: 1.17rem;
  --fs-h3-box: 1rem;
  --fs-p-box: 0.9rem;

  --boxshaddow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

h1 {
  font-size: var(--fs-h1);
  margin-top: 1.3em;
  margin-bottom: 0.7rem;
  line-height: 1.8rem;
  color: var(--black);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--black);
}

h3 {
  font-size: var(--fs-h3);
  color: var(--black);
}

p {
  color: var(--black);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.fa-star {
  font-size: 0.7rem;
}

.checked {
  color: var(--blue);
}

.unchecked {
  color: var(--medium-grey);
}

@media screen and (min-width: 992px) {
  header {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
  }
}
