.filter {
  margin-top: 3rem;
}

.filter__flexbox > h3 {
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
}

.filter__item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--medium-grey);
  border-top: 2px solid var(--medium-grey);
  border-right: 2px solid var(--medium-grey);
  border-radius: 500px;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  height: 3.125rem;
}

.filter__item--1 {
  width: 9.375rem;
}

.filter__item--2 {
  width: 10.5rem;
}

.filter__item--3 {
  width: 12.5rem;
}

.filter__item--4 {
  width: 13.75rem;
}

.filter__button {
  border: 0;
  background: var(--light-blue);
  color: var(--blue);
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
}

.filter__span {
  margin-left: 10px;
  font-weight: var(--fw-bold);
  color: var(--black);
}

.availability {
  display: flex;
  margin-top: 1.875rem;
  margin-left: 1.5rem;
  margin-bottom: 2.2rem;
  align-items: baseline;
}

.fa-info-circle {
  color: var(--blue);
  margin-right: 0.625rem;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .filter__item--1 {
    width: 10.375rem;
  }

  .filter__item--2 {
    width: 11.5rem;
  }

  .filter__item--3 {
    width: 13.87rem;
  }

  .filter__item--4 {
    width: 17.75rem;
  }
}

@media screen and (min-width: 768px) {
  .filter__item--2 {
    width: 9.375rem;
  }

  .filter__item--3 {
    width: 12rem;
  }

  .filter__item--4 {
    width: 11.375rem;
  }
}

@media screen and (min-width: 992px) {
  .filter__flexbox {
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  .filter__flexbox > h3 {
    margin-left: 0;
    margin-top: 0;
  }

  .filter__item {
    margin-top: 0;
    margin-left: 1.5rem;
    transition: transform 0.5s;
  }

  .filter__item:hover {
    transform: scale(1.1);
  }

  .availability {
    margin-left: 0;
  }

  .availability__span {
    display: block;
  }
}
